<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.locmess">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".main.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.SignUpActivity" />
        <activity android:name=".main.MainMenuActivity" />
        <activity
            android:name=".profile.MainProfileActivity"
            android:label="@string/title_activity_main_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".profile.ViewKeyActivity" />
        <activity
            android:name=".locations.MainLocationsActivity"
            android:label="@string/title_activity_main_locations" />
        <activity android:name=".locations.ViewLocationActivity" />
        <activity android:name=".locations.AddLocationActivity" />
        <activity
            android:name=".messages.MainMessagesActivity"
            android:label="@string/title_activity_main_locations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".messages.AddMessageActivity" />
        <activity android:name=".messages.ViewMessageActivity" />
        <activity
            android:name=".messages.AddMessageSecondActivity"
            android:parentActivityName=".messages.AddMessageActivity"></activity>

        <service
            android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

        <service android:name=".messages.service.MessagePollingService"
                 android:exported="false" />
    </application>

</manifest>